<div class="modal-header">
	<h4 class="modal-title pull-left">Change Password</h4>
	<button type="button" class="btn btn-sm pull-right" aria-label="Close" (click)="onCancelBtn()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<div class="">
		<label class="form-label">Type Password</label>
		<input type="password" class="form-control" name="password1" autocomplete="new-password" [(ngModel)]="password1">
	</div>
	<div class="">
		<label class="form-label">Repeat Password</label>
		<input type="password" class="form-control" name="password2" autocomplete="new-password" [(ngModel)]="password2">
	</div>
</div>
<div class="modal-footer justify-content-between">
	<button class="btn btn-warning" (click)="onChangePasswordBtn()" [disabled]="!canChangePassword">Change Password</button>
	<button class="btn btn-primary" (click)="onCancelBtn()">Cancel</button>
</div>
