<form #form="ngForm" *ngIf="application && page">
	<div class="card bg-light mt-3 mb-3">
		<div class="card-body">
			<h2 class="card-title">
				<a routerLink="/admin/application/{{application._id}}">{{application.name}}</a>
				&gt;
				<a routerLink="/admin/application/{{application._id}}/section/{{section._id}}">{{section.title}}</a>
				&gt;
				{{page.title}}
			</h2>
			<div class="row mb-3">
				<div class="col-md-2">
					<label class="form-label">Page ID</label>
					<input class="form-control" name="pageId" [(ngModel)]="page.name" [disabled]="readonly" required>
				</div>
				<div class="col-md-3">
					<label class="form-label">Page Name</label>
					<input class="form-control" name="pageTitle" [(ngModel)]="page.title" [disabled]="readonly" required>
				</div>
				<div class="col-md-3">
					<label class="form-label">Type</label>
					<select class="form-select" name="pageType" [(ngModel)]="page.type" required>
						<option [value]="type.id" *ngFor="let type of pageTypes">{{type.name}}</option>
					</select>
				</div>
				<div class="col-md-2">
					<label class="form-label">Next Page</label>
					<select class="form-select" name="nextPageId" [(ngModel)]="page.nextPageId" required>
						<option [value]="nextPage.pageId" *ngFor="let nextPage of nextPages">{{nextPage.label}}</option>
					</select>
				</div>
				<div class="col-md-2">
					<label class="form-label">Page Order</label>
					<input type="number" class="form-control" name="order" min="0" max="999" [(ngModel)]="page.order" [disabled]="readonly" required>
				</div>
			</div>

			<div class="row mb-3" *ngIf="page.type==='hero'">
				<div class="col-md-12">
					<label class="form-label">Hero Image URL</label>
					<input class="form-control" name="heroImage" [(ngModel)]="page.heroImage" [disabled]="readonly" required>
				</div>
			</div>


			<div *ngIf="page.type==='question' || page.type==='single-question'">
				<div class="float-end cursor-pointer text-primary mt-2" (click)="addQuestion()">
					<i class="fas fa-plus"></i>
				</div>
				<h3 class="mb-1">Questions</h3>
				
				<div *ngFor="let question of page.questions; let questionIndex=index">
					<hr>
					<div class="float-end cursor-pointer text-danger mt-2" (click)="removeQuestion(question)">
						<i class="fas fa-minus"></i>
					</div>
					<div class="row">
						<div class="col-2">
							<label class="form-label">Question Type</label>
							<select class="form-select" name="questionType{{questionIndex}}" [(ngModel)]="question.type" required>
								<option [value]="type.id" *ngFor="let type of questionTypes">{{type.name}}</option>
							</select>
						</div>
						<div class="col-2">
							<label class="form-label">Question Key</label>
							<input class="form-control" name="questionKey{{questionIndex}}" [(ngModel)]="question.key" [disabled]="readonly || question.type==='label'" required>
						</div>
						<div class="col-4">
							<label class="form-label">Question Label</label>
							<input class="form-control" name="questionLabel{{questionIndex}}" [(ngModel)]="question.label" [disabled]="readonly" required>
						</div>
						<div class="col-2">
							<label class="form-label">Question Order</label>
							<input type="number" class="form-control" name="questionOrder{{questionIndex}}" min="0" max="999" [(ngModel)]="question.order" [disabled]="readonly" required>
						</div>
						<div class="col-2">
							<div class="form-check">
								<label class=" form-check-label" for="questionOptional{{questionIndex}}">Optional</label><br>
								<input class="ms-0 form-check-input" type="checkbox" id="questionOptional{{questionIndex}}" name="questionOptional{{questionIndex}}" [(ngModel)]="question.optional" [disabled]="readonly || question.type==='label'">
							</div>
						</div>
					</div>
					<div *ngIf="question.type==='radio'">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>Option Label</th>
									<th>Option Value</th>
									<th>Next Page</th>
									<th>Order</th>
									<th>
										<div class="float-end cursor-pointer text-primary mt-2" (click)="addQuestionOption(question)">
											<i class="fas fa-plus"></i>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let option of question.options; let optionIndex=index">
									<td>
										<input class="form-control" name="optionLabel{{questionIndex}}_{{optionIndex}}" [(ngModel)]="option.label" [disabled]="readonly" required>
									</td>
									<td>
										<input class="form-control" name="optionValue{{questionIndex}}_{{optionIndex}}" [(ngModel)]="option.value" [disabled]="readonly" required>
									</td>
									<td>
										<select class="form-select" name="nextPage_{{questionIndex}}_{{optionIndex}}" [(ngModel)]="option.nextPageId" required>
											<option [value]="nextPage.pageId" *ngFor="let nextPage of nextPages">{{nextPage.label}}</option>
										</select>
									</td>
									<td>
										<input type="number" class="form-control" name="optionOrder{{questionIndex}}_{{optionIndex}}" min="0" max="999" [(ngModel)]="option.order" [disabled]="readonly" required>
									</td>
									<td>
										<div class="float-end cursor-pointer text-danger mt-2" (click)="removeQuestionOption(question,option)">
											<i class="fas fa-minus"></i>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="card-footer d-flex justify-content-between">
			<button class="btn btn-primary" (click)="onSaveBtn()" [disabled]="!form.valid">Save</button>
			<button class="btn btn-success" (click)="onViewBtn()" [disabled]="!form.valid">View</button>
			<button class="btn btn-danger" (click)="onDeleteBtn()" *ngIf="!isNew">Delete</button>
		</div>
	</div>
</form>
