<div class="row vh-100" *ngIf="application && page">
	<div class="col side1">
		<h3><b>tulsa</b><br>remote</h3>
		<div class="hero-image" style="background-image: url({{page.heroImage}})" *ngIf="page.heroImage">
			<h3><b>tulsa</b><br>remote</h3>
		</div>
		<div class="page-title">
			<h3>{{page.title}}</h3>
			<div *ngIf="applicationService.debugMode && page.name">[{{page.name}}]</div>
		</div>
	</div>
	<div class="col side2" [class.hero-page-content]="page.heroImage">
		<div class="wayfinder text-center" *ngIf="!page.heroImage">
			<wayfinder [sections]="application.sections" [sectionIndex]="sectionIndex" [pageIndex]="pageIndex"></wayfinder>
		</div>

		<ng-container *ngIf="page.questions.length">
      <!-- do we need this row class here? -->
			<div class="questions row">
				<div class="question mb-3" *ngFor="let question of page.questions">
					<label class="form-label" [class.heading-label]="question.type == 'label' || question.type == 'radio'" [innerHtml]="question.label"></label>

					<div class="form-group" *ngIf="question.type==='text' || question.type==='email' || question.type==='phone'">
						<input class="form-control" [type]="question.type" [(ngModel)]="answers[question.key]" (blur)="onQuestionAnswer(question)">
					</div>

					<div class="form-group" *ngIf="question.type==='date'">
						<input class="form-control" type="date" [(ngModel)]="answers[question.key]"  (blur)="onQuestionAnswer(question)">
					</div>

					<div class="radio form-group" *ngIf="question.type==='radio'">
						<div class="d-grid gap-2">
							<div class="option" *ngFor="let option of question.options" (click)="selectQuestionOption(question,option)" [class.selected]="isQuestionOptionSelected(question,option)">
								<p class="label">{{option.label}}</p>
								<p class="helper-text" *ngIf="option.helperText">{{option.helperText}}</p>
								<div *ngIf="applicationService.debugMode && option.nextPageName">[{{option.nextPageName}}]</div>
							</div>
						</div>
					</div>

					<div class="form-group" *ngIf="question.type==='textarea'">
						<textarea class="form-control" rows="10" [(ngModel)]="answers[question.key]" (blur)="onQuestionAnswer(question)"></textarea>
					</div>
				</div>
			</div>
		</ng-container>

		<div *ngIf="page.heroHtml" class="questions row" [innerHtml]="page.heroHtml"></div>

    <div class="px-4 text-right" *ngIf="page.name==='welcome'">
      <button class="btn --next --reverse" (click)="onNextBtn()">Let's Get Started</button>
    </div>

		<div *ngIf="page.type==='reject'">
			<label class="form-label text-light">Verify your email address</label>
			<div>
				<div class="float-start">
					<input class="form-control" type="email" name="rejectionEmail" [(ngModel)]="answers.email">
				</div>
				<div class="float-end">
					<button class="btn btn-light">Submit</button>
				</div>
			</div>
			<div class="clearfix mb-3"></div>
			<small class="helperText">If you feel we’ve made an error, please contact us at <a class="text-light" href="mailto:info@tulsaremote.com" target="_blank">info@tulsaremote.com</a></small>
		</div>

		<div class="buttons px-4" *ngIf="page.type!=='reject' && page.type!=='submit' && page.name!=='welcome'">
			<button class="btn --plain-link" (click)="onPrevBtn()">Back</button>
			<button class="btn --next" (click)="onNextBtn()">
				Next
				<span *ngIf="applicationService.debugMode && page.nextPageName">[{{page.nextPageName}}]</span>
			</button>
		</div>
	</div>
</div>
