<div class="row vh-100" *ngIf="application && page">
	<div class="col side1">
		<h3><img src="/assets/raw/TRlogo-white.svg" alt="Tulsa Remote" /></h3>
		<div class="hero-image" style="background-image: url({{page.heroImage}})" *ngIf="page.heroImage">
			<h3><img src="/assets/raw/TRlogo.svg" alt="Tulsa Remote" /></h3>
		</div>
		<div class="page-title">
			<h3>{{page.title}}</h3>
			<div *ngIf="applicationService.debugMode && page.name">[{{page.name}}]</div>
			<div class="version" *ngIf="applicationService.debugMode && version">[{{version}}]</div>
		</div>
	</div>
	<div class="col side2" [class.hero-page-content]="page.heroImage">
		<div class="wayfinder text-center" *ngIf="!page.heroImage">
			<wayfinder [sections]="application.sections" [sectionIndex]="sectionIndex" [pageIndex]="pageIndex"></wayfinder>
		</div>

		<ng-container *ngIf="page.questions.length">
			<div class="questions" [class.highlight-empty]="emptyFields">
				<div class="question mb-3" *ngFor="let question of page.questions; let questionIndex=index">
					<label class="form-label" [class.heading-label]="page.type == 'single-question' || question.type == 'label' || question.type == 'radio'" [innerHtml]="question.label"></label>

					<div class="form-group" *ngIf="question.type==='text' || question.type==='email' || question.type==='phone' || question.type==='url'">
						<input (keyup.enter)="onEnter(question)" [class.empty]="!isQuestionValid(question)" class="form-control" [type]="question.type" name="question{{questionIndex}}" [(ngModel)]="answers[question.key]" (blur)="onQuestionAnswer(question)">
					</div>

					<div class="form-group" *ngIf="question.type==='date'">
						<input class="form-control" (keyup.enter)="onEnter(question)" type="date" [class.empty]="!isQuestionValid(question)" name="question{{questionIndex}}" [(ngModel)]="answers[question.key]"  (blur)="onQuestionAnswer(question)">
					</div>

					<div class="radio form-group" *ngIf="question.type==='radio'">
						<div class="d-grid gap-2" [class.d-flex]="question.options.length <= 2">
							<ng-container *ngFor="let option of question.options; let i = index">
								<label [class.col-sm-6]="question.options.length <= 2" [class.text-center]="question.options.length <= 2" for="control_{{i}}">
									<input (keyup.enter)="onEnter(question)" type="radio" id="control_{{i}}" name="selectQuestion" value="{{i}}" (click)="selectQuestionOption(question,option)" [class.selected]="isQuestionOptionSelected(question,option)">
									<span class="faux-label">
										<span class="label">
											{{option.label}}
											<span *ngIf="applicationService.debugMode && option.value">[{{option.value}}]</span>
										</span>
										<span class="helper-text" *ngIf="option.helperText">{{option.helperText}}</span>
										<span *ngIf="applicationService.debugMode && option.nextPageName">[{{option.nextPageName}}]</span>
									</span>
								</label>
							</ng-container>
						</div>
					</div>

					<div class="form-group" *ngIf="question.type==='textarea'">
						<textarea (keyup.enter)="onEnter(question)" class="form-control" rows="10" [(ngModel)]="answers[question.key]" (blur)="onQuestionAnswer(question)"></textarea>
					</div>
				</div>
			</div>
		</ng-container>

		<div *ngIf="page.heroHtml" class="questions" [innerHtml]="page.heroHtml"></div>

		<div *ngIf="page.type==='reject'" class="questions">
			<label class="form-label text-light">Verify your email address</label>
			<div class="d-flex justify-content-between">
				<input class="form-control" type="email" name="rejectionEmail" [(ngModel)]="answers.email">
				<button class="btn --next --reverse">Submit</button>
			</div>
			<div class="clearfix mb-3"></div>
			<small class="helperText">If you feel we’ve made an error, please contact us at <a class="text-light" href="mailto:info@tulsaremote.com" target="_blank">info@tulsaremote.com</a></small>
		</div>

        <div *ngIf="page.type==='submit'" class="exit-meta">
            <div class="return-link"><a class="btn --plain-link --reverse" href="https://tulsaremote.com">Return to website</a></div>
            <ul class="social-media">
                <li><a class="facebook" href="https://www.facebook.com/tulsaremote"><span class="visually-hidden">Facebook</span></a></li>
                <li><a class="twitter" href="https://twitter.com/tulsaremote"><span class="visually-hidden">Twitter</span></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/company/tulsaremote/"><span class="visually-hidden">LinkedIn</span></a></li>
            </ul>
        </div>

		<div class="buttons px-4" *ngIf="page.type!=='reject' && page.type!=='submit' && page.name!=='welcome'">
			<button class="btn --plain-link" (click)="onPrevBtn()">Back</button>
			<button class="btn --next" (click)="onNextBtn()" [tab-index=0] [disabled]="!canNext || !inputReady">
				Next
				<span *ngIf="applicationService.debugMode && page.nextPageName">[{{page.nextPageName}}]</span>
			</button>
		</div>

		<div class="buttons --dark px-4 text-right" *ngIf="page.name==='welcome'">
			<button class="btn --next --reverse" (click)="onNextBtn()">Let's Get Started</button>
		</div>


	</div>
	
</div>
