/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '../../styles/partials/variables';
@import '../../styles/partials/typography';
@import '../../styles/partials/forms';
@import '../../styles/partials/buttons';

.vh-100 {
	height: 100vh;
}

.row {
  .side1,
  .side2 {
    position: relative;
  }
}

.hero-image {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
}

.side1 {
	background-color: $color-brand-purple;
	color: white;
	padding: 10px;

	.page-title {
		@include media-breakpoint-down(md) {
			margin-top: 3em;
		}
		@include media-breakpoint-up(md) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin-left: 50px;
		}
	}
}

.side2 {
	@include media-breakpoint-up(sm) {
		display: flex;
		padding: 100px 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&.hero-page-content {
		background-color: $color-brand-purple;
		color: white;

    @include media-breakpoint-down(md) {
      flex: 1 0 100%;
    }
	}
}

.wayfinder {
	max-width: 100%;
	overflow: hidden;
	
	img, svg {
		max-width: 100%;
		height: auto;
	}

	@include media-breakpoint-up(sm) {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}


:host ::ng-deep {
  .quote {
    margin-top: 2em;
    font-family: $font-family-main;

    &-content {
      font-weight: 100;
      padding: 1em 0;
      font-size: 1em;
      line-height: 1.5;
    }
    &-metadata {
      display: flex;
    }
    &-image {
      border-radius: 100%;
      overflow: hidden;
      height: 80px;
      width: 80px;
    }
    &-name {
      padding-left: 1em;
    }
  }
}




// TODO: this still needs some love
.buttons {
	background: $color-white;
	padding: 20px;
	border-top: 1px solid $color-lt-gray;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media-breakpoint-down(md) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	@include media-breakpoint-up(md) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

.questions {
	@include media-breakpoint-up(lg) {
		// TODO: this is gross and should be fixed
		flex: 0 0 80%;
		width: 80%;
	}

	.question {
		.radio {
			.option {
				border: 1px solid #ddd;
				border-radius: 5px;
				padding: 16px 24px 20px 24px;

        > p {
          margin: 0;
        }

        p.label {
          font-size: 1.5rem;
          font-weight: 300;
        }

        .helper-text {
          font-size: 1rem;
          margin-top: 10px;
        }

				&:hover {
					border-color: #aaa;
					cursor: pointer;
					background-color: #fafafa;
				}
				&.selected {
					border: 1px solid #888;
					background-color: #f4f4f4;
				}
			}
		}
	}
}

