<div class="row vh-100" *ngIf="application">
	<div class="col-6 side1">
		<h3>
			<b>tulsa</b><br>
			remote
		</h3>

		<!-- <h2>{{application.name}}</h2><hr> -->

		<div class="section-title">
			<h3>{{section.title}}</h3>
		</div>

	</div>
	<div class="col-6 side2">

		<div class="text-center">
			<wayfinder [sections]="sections" [sectionIndex]="sectionIndex"></wayfinder>
		</div>

		<div class="mt-5" *ngIf="page">
			<h3 class="my-4">{{page.title}}</h3>
			<div class="questions row mt-5">
				<div class="offset-3 col-6">
					<div class="question mb-3" *ngFor="let question of page.questions">
						<div class="form-group">
							<label class="form-label">{{question.label}}</label>
							<input class="form-control" [type]="question.type">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="buttons">
			<div class="px-2">
				<button class="btn btn-primary float-start" (click)="onPrevBtn()">Back</button>
				<button class="btn btn-primary float-end" (click)="onNextBtn()">Next</button>
			</div>
		</div>
	</div>

</div>

