<h1 class="mt-2">Product Search</h1>
<hr>

<div>
	<form>
		<div class="row">
			<div class="col-md-3">
				<label class="form-label">Product SKU</label>
				<input type="text" class="form-control" name="sku" [(ngModel)]="searchTable.params.filter.sku" (ngModelChange)="searchTable.onFilterChange()">
			</div>
			<div class="col-md-3">
				<label class="form-label">Product Name</label>
				<input type="text" class="form-control" name="name" [(ngModel)]="searchTable.params.filter.name" (ngModelChange)="searchTable.onFilterChange()">
			</div>
			<div class="col-md-3">
				<label class="form-label">Product Type</label>
				<select class="form-select" name="type" [(ngModel)]="searchTable.params.filter.type" (ngModelChange)="searchTable.onFilterChange(true)">
					<option [ngValue]="null">ALL</option>
					<option [value]="productType.id" *ngFor="let productType of productService.productTypes">{{productType.name}}</option>
				</select>
			</div>
		</div>
	</form>
</div>



<!-- <div class="card bg-light mt-3">
	<div class="card-body"> -->
		<search-table #searchTable></search-table>
		<search-footer [searchTable]="searchTable"></search-footer>
	<!-- </div> -->
<!-- </div> -->
