<center>
	<img src="{{frontendUrl}}/assets/logo.png">
</center>

<hr style="height:1px; border:none; border-top: 1px solid #ccc">

<div style="font-family:sans-serif">
	{{{html}}}
</div>

<hr style="height:1px; border:none; border-top: 1px solid #ccc">

<center style="font-family:sans-serif; color:#ccc">
	&copy;2021 Gitwit
</center>
