<form *ngIf="user">
	<div class="card bg-light mt-3 mb-3">
		<div class="card-body">
			<h2 class="card-title">User Detail</h2>
			<div class="row my-3">
				<div class="col-sm-12 col-md-6">
					<label>First Name</label>
					<input class="form-control" name="firstName" [(ngModel)]="user.firstName">
				</div>
				<div class="col-sm-12 col-md-6">
					<label>Last Name</label>
					<input class="form-control" name="lastName" [(ngModel)]="user.lastName">
				</div>
			</div>
			<div class="row my-3">
				<div class="col-sm-12 col-md-6">
					<label>Email Address</label>
					<input class="form-control" name="email" autocomplete="email" [(ngModel)]="user.email">
				</div>
				<div class="col-sm-12 col-md-6">
					<label>Phone Number</label>
					<input class="form-control" name="phone" mask="(000) 000-0000" [(ngModel)]="user.phone">
				</div>
			</div>

			<div class="row my-3">
				<div class="col-sm-12 col-md-6">
					<label>Password</label>
					<input class="form-control" type="password" name="password" autocomplete="new-password" [(ngModel)]="user.password">
				</div>
				<div class='col-sm-12 col-md-6'>
					<label>Type</label>
					<select class="form-select" name="type" [(ngModel)]="user.type">
						<option [value]="type.id" *ngFor="let type of userService.userTypes">{{type.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-between">
			<button class="btn btn-primary" (click)="onSaveBtn()">Save</button>
			<button class="btn btn-warning" (click)="onResetPasswordBtn()">Send Reset Password Email</button>
			<button class="btn btn-danger" (click)="onDeleteBtn()">Delete</button>
		</div>
	</div>
</form>
