$sidenav-width: 300px;

main {
	// display: flex;
	// flex-wrap: nowrap;
	min-height: 100vh;

	div.content {
		// border: 1px solid red;
		width: 100%;
		// margin-left: auto;
		&.sidenav-visible {
			// border: 1px solid green;
			margin-left: $sidenav-width;
		}
	}

	div.shadow {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 900;
		top: 0px;
		left: 0;
		color: gray;
		background-color: rgba(32, 32, 32, 0.5);
		transition: opacity 0.5s;
		opacity: 0;
		&.sidenav-open {
			width: 100%;
			opacity: 1;
		}
	}
}
