label {
	font-size: 1em;
	font-weight: 600;
	font-size: .9em;
}

.heading-label {
	font-size: 1.5rem;
	font-weight: 100;
	margin-bottom: 2em;
}



input[type="text"], input[type="email"], input[type="phone"] {
	border: 1px solid $color-brand-dark-gray;
	box-sizing: border-box;
	border-radius: 2px;
  padding: 0.7rem 0.75rem;

	&:focus {
		border-color: $color-brand-purple;
		outline: 0;
		box-shadow: none;
	}
}