h1, h2, h3, h4, h5 {
  font-family: $font-family-heading;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  font-size: 2.75rem;
}

h3, h4 {
  font-family: $font-family-main;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-size: 1em;
  line-height: 1.5;
}


:host ::ng-deep {
  h1, h2, h3, h4, h5 {
    font-family: $font-family-heading;
    font-weight: 700;
    line-height: 1.5;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3, h4 {
    font-family: $font-family-main;
    font-weight: 700;
    font-size: 1.5rem;
  }

  h4{
    font-weight: 300;
  }

  p {
    font-size: 1em;
    line-height: 1.5;
  }

}

