$color-white: #ffffff;
$color-lt-gray: #ddd;
$color-lt-gray-alt: #DCDEE5;
$color-xtra-lt-gray: #F0F1F4;
$color-medium-gray: #848CA3;
$color-brand-dark-gray: #6A6D7F;
$color-brand-purple: #4E40F3;
$color-brand-purple-light: #5C4EFF;

$color-dark-gray: #283045;

$font-family-heading: 'titillium-web', sans-serif;
$font-family-main: 'proxima-nova', sans-serif;
