$color-white: #ffffff;
$color-lt-gray: #ddd;
$color-brand-dark-gray: #6A6D7F;
$color-brand-purple: #4E40F3;

$font-family-heading: 'titillium-web', sans-serif;
$font-family-main: 'proxima-nova', sans-serif;
